* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
}

ul {
  list-style: none;
}

header .nav_bar {
  padding: 10px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: aliceblue;
  z-index: 99;
}
header .nav_bar ul {
  display: flex;
  align-items: center;
}
header .nav_bar ul li {
  margin: 0 20px;
}
header .nav_bar ul img {
  width: 70px;
}
header .container_top {
  position: relative;
  display: flex;
  width: 100%;
  background: url("https://res.cloudinary.com/sanitarium/image/fetch/q_auto/https://www.sanitarium.com.au/getmedia%2Fae51f174-984f-4a70-ad3d-3f6b517b6da1%2Ffruits-vegetables-healthy-fats.jpg%3Fwidth%3D1180%26height%3D524%26ext%3D.jpg");
  /* background-image: url("../images/food.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 500px;
}
header .container_top .col_left, header .container_top .col_right {
  padding: 25px;
  width: 50%;
  height: 100vh;
}
header .container_top .col_left {
  background-color: #a51b0b;
}
header .container_bottom {
  position: absolute;
  bottom: -250px;
  width: 100%;
  padding: 0 100px;
  display: flex;
}
header .container_bottom .col_left_btm {
  width: 50%;
  height: 400px;
  background-size: cover;
}
header .container_bottom .col_right_btm {
  height: 400px;
  width: 50%;
  background-color: #fbfe4f;
}
