* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
}

#app {
  // background-color: #4fb3ab;
  // background-color:  $softYellow;
  background-image: linear-gradient($softYellow, orange);
}

ul {
  list-style: none;
}

select {
  font-size: 18px;
  outline: none;

}

