header {
  .nav_bar {
    padding: 15px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: $black;
    z-index: 99;
    .menu {
      width: 100%;
    }
    .hamburger_menu {
      font-size: 30px;
      color: lightgray;
      display: none;
      
    }
  
    img {
      margin-right: 20px;
      width: 70px;
    }
    ul { 
      margin: 0;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 0 15px;
        padding: 5px 10px;
        font-size: 20px;
        
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
          background-color: $darkRed ;
        }
        &:hover a {
          color: white;
        }
        a {
          color: white;
          transition: 0.3s;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {

      .hamburger_menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 40px;
        color: #F39201;
      }

      .menu {
        display: none;
      }

      .active {
        display: block;
        color: white;
        background-image: linear-gradient($softYellow, orange);
      }
    }


    
  }
 



  .container_top {
    position: relative;
    display: flex;
    width: 100%;
      background: url('https://images.pexels.com/photos/3758133/pexels-photo-3758133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
     background-size: cover;
     background-attachment: fixed;
    .col_left, .col_right {
      padding: 25px;
      width: 50%;
      height: 100vh;
    }
    .col_left {
      padding: 100px;
      background-color: #965a37d1;
      h1 {
        margin-bottom: 30px;
        color: white;
        font-size: 200px;
        line-height: 70px;
      }
      h2 {
        padding-right: 150px;
        font-weight: 300;
        color: white;
        font-size: 150px;
        span {
          color: $goldeFizz;
          font-weight: 400;
        }
      }
    }
    
  }

  .container_bottom {
    width: 100%;
   
    padding: 0 100px;
      .container_inner_bottom {
        display: flex;
        position: relative;
        bottom: 150px;

        .col_left_btm {
          width: 50%;
          height: 400px;
          background-size: cover;
        }

        .col_right_btm {
          padding: 75px;
          height: 400px;
          width: 50%;
          background-color: #965a37d1;
          h2 {
            margin-bottom: 20px;
            color: $blue;
          }
          p {
            margin-bottom: 30px;
            color: navy;
            font-weight: 300;
            font-size: 20px;
            span {
              font-weight: 400;
              color: $orange;
            }
          }
        }
      }
  }
}


// ---MEDIA QUERIES---

