header {
  .nav_bar {
    padding: 15px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    z-index: 99;
    img {
      margin-right: 20px;
      width: 70px;
    }
    ul {
      margin: 0;
      display: flex;
      align-items: center;
      li {
        margin: 0 20px;
        padding: 10px 20px;
        font-size: 24px;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
          background-color: $darkRed ;
        }
        &:hover a {
          color: white;
        }
        a {
          color: black;
          transition: 0.3s;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    
  }
  .container_top {
    position: relative;
    display: flex;
    width: 100%;
      background: url('https://images.pexels.com/photos/3758133/pexels-photo-3758133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
     background-size: cover;
     background-attachment: fixed;
    .col_left, .col_right {
      padding: 25px;
      width: 50%;
      height: 100vh;
    }
    .col_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px;
      background-color: $darkRed;
      h1 {
        margin-bottom: 30px;
        color: white;
        font-size: 50px;
        line-height: 70px;
      }
      h3 {
        padding-right: 150px;
        font-weight: 300;
        color: white;
        font-size: 25px;
        span {
          color: $goldeFizz;
          font-weight: 400;
        }
      }
    }
    
  }

  .container_bottom {
    position: absolute;
    bottom: -250px;
    width: 100%;
   
    padding: 0 100px;
    display: flex;
    .col_left_btm {
      width: 50%;
      height: 400px;
      background-size: cover;
    }
    .col_right_btm {
      
      padding: 75px;
      height: 400px;
      width: 50%;
      background-color: $softYellow;
      h2 {
        margin-bottom: 20px;
        color: $blue;
      }
      p {
        margin-bottom: 30px;
        color: navy;
        font-weight: 300;
        font-size: 20px;
        span {
          font-weight: 400;
          color: $orange;
        }
      }
    }
  }
}